h3{
    text-align: center;
}
.ulTest{
    overflow: hidden;
    list-style-type: none;

}
.ulTest a{
    display: block;
text-align: center;
}
.ulTest li{
    float: left;
    font-size: 20px;
    width: 24%;  
}

img{
    height: 50%;
    width: 50%;
}
.Mondial img{
    height: 300px;
    width: 300px;
    float: left;
    padding: 20px;
    
}
.Mondial{
text-align: center;
}
.main li{
    list-style-type: none;
    text-align: center;

}
