#map {
    height: 60vh;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
  }
  header h1{
    color: grey;
  }
 #main{
   overflow: auto;
   height: 40vh;
 }
 #autocompleteSearch{
   height: 100px;
   overflow: auto;
 }