$bgColorHeader:#b0a3a9;
$headerHeight:120px;
$section1Height:660px;
$section2Height:260px;
$section3Height:160px;
$footerHeight:201px;
$colorNumber1: #cb3362;
$colorNumber2:#eae7e8;
$colorNumber3:#c8c10d;
$letCenter:center;