@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

h1 {
    position: absolute;
    top: 124px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    color: #0E9AFF;
    font-family: 'Montserrat', sans-serif;
    z-index: 50;
}

.my-section img {
    transform: rotate(90deg);
}

.my-section {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-footer {
    color: rgba(255, 255, 255, 0.75);
    background-color: #143F5F;
}

.my-footer li {
    padding: 15px;
    margin: 0 30px;
}

aside {
    padding: 30px 50px 30px 100px;
    background-color: #F3F4F5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #143F5F;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #143F5F;
    justify-content: space-between;
}

a {
    font-family: monospace;
    color: #143F5F;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

span {
    font-family: monospace;
    color: #143F5F;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

article+img {
    border-top: 2px solid black;
    margin: 10px auto;
    width: 80%;
}

.my-div {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.rot {
    transform: rotate(45deg);
}

.imgTest {
    float: left;
    display: block;
    margin: 15px;
    width: 20%;
}

.order{
width: 140px;
height: 40px;
margin: 10px 30px 10px 50px;
}
#div-2-right{
display: flex;
align-items: center;
}
.wdth100{
    width: 100%;
}
.pad{
    margin: 10px 0;
}
.line {
    margin:15px 10px;
    height: 1px;
    border: none;
    background-color: rgb(201, 196, 196);
}
.blue{
    font-weight: 700;
    color: #0E9AFF;
}
.my-div  i{
    font-size: 20px;
}
