$colorBlue :#03a9f4;
$colorLightBlue:#e6f7fe;
$colorDarkBlue:#0373a7;
$colorOrange: #f75e2e;
$colorForBlueText:#0287c3;
$colorGrey:#51555a;
$fontPoppinsBold: "Poppins";
// $fontPoppinsBold: "Poppins - Semi Bold";
$fontCourgette:'Courgette', cursive;
$fontOpenSans:'Open Sans', sans-serif;
$fontOpen:"Open Sans";
$buttonWhidth1: 150px;
$whiteColor:#ffff;
